<?php
/**
 * @var $this \Comments\Models\CommentModel;
 */
?>

<div class="media">

    <div class="media-heading">
        <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapse<?= $this->getID(); ?>" aria-expanded="false" aria-controls="collapseExample">
            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
        <span class="label label-info"><?= $this->getID(); ?></span><span class="label label-info green"><?= $this->getUserName(); ?></span>
        terminator <?= $this->getTerminator(); ?> ago
    </div>

    <div class="panel-collapse collapse in" id="collapse<?= $this->getID(); ?>">

        <div class="media-left">
            <div class="vote-wrap">
                <div class="save-post">
                    <a href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a>
                </div>
            </div>
            <!-- vote-wrap -->
        </div>
        <!-- media-left -->


        <div class="media-body">

            <p><?= $this->getComment(); ?></p>

            <div class="comment-meta">
                <span>
                <a class="" role="button" data-toggle="collapse" href="#replyComment<?= $this->getID(); ?>" aria-expanded="false" aria-controls="collapseExample">reply</a>
              </span>
                <div class="collapse" id="replyComment<?= $this->getID(); ?>">
                    <form name="<?= $form->vars['full_name']; ?>" method="<?= $form->vars['method']; ?>">
                        <input type="hidden"
                               name="<?= $form->children['parent']->vars['full_name']; ?>"
                               value="<?= $this->getID(); ?>">
                        <div class="form-group">
                            <label for="email">Your Nick</label>
                            <input name="<?= $form->children['user_name']->vars['full_name']; ?>"
                                   value=""
                                   class="form-control"
                                   placeholder="ExampleNick" />
                        </div>
                        <div class="form-group">
                            <label for="email">Your Email</label>
                            <input name="<?= $form->children['email']->children['first']->vars['full_name']; ?>"
                                   value=""
                                   class="form-control"
                                   placeholder="example.ur-email@some.com" />
                        </div>

                        <div class="form-group">
                            <label for="email-repeat">Your Email Repeat</label>
                            <input name="<?= $form->children['email']->children['second']->vars['full_name']; ?>"
                                   value=""
                                   class="form-control"
                                   placeholder="example.ur-email@some.com" />
                        </div>

                        <div class="form-group">
                            <label for="comment">Your Comment</label>
                            <textarea name="<?= $form->children['comment']->vars['full_name']; ?>"
                                      class="form-control textarea-resize-deny"
                                      rows="6" placeholder="Ur Comment"></textarea>
                        </div>
                        <button type="submit" class="btn btn-default">Send</button>
                    </form>
                </div>
            </div>

            <?php
            /**
             * @var $child \Comments\Models\CommentModel;
             */
            ?>

            <?php if ($this->comments) : ?>

                <?php foreach ($this->comments as $child) : ?>

                    <?php $child->render($form); ?>

                <?php endforeach; ?>

            <?php endif; ?>

        </div>
    </div>
    <!-- comments -->

</div>