<?php
/**
 * @var $form Symfony\Component\Form\FormView
 * @var $error Symfony\Component\Form\FormError
 * @var $parentEntity \Comments\Models\CommentModel
 */
?>

<div class="post-comments">
    <form name="<?= $form->vars['full_name']; ?>" method="<?= $form->vars['method']; ?>">
        <input type="hidden"
               name="<?= $form->children['parent']->vars['full_name']; ?>"
               value="<?= $form->children['parent']->vars['value']; ?>">
        <div class="form-group">
            <label for="email">Your Nick</label>

            <!-- ERROR-->
            <?php if ($form->children['user_name']->vars['errors']->valid()) : ?>
                <?php foreach ($form->children['user_name']->vars['errors'] as $error) : ?>
                    <div class="error-form"><?= $error->getMessage(); ?></div>
                <?php endforeach; ?>
            <?php endif; ?>
            <!-- ERROR-->

            <input name="<?= $form->children['user_name']->vars['full_name']; ?>"
                   value="<?= $form->children['user_name']->vars['value']; ?>"
                   class="form-control"
                   placeholder="ExampleNick" />
        </div>
        <div class="form-group">
            <label for="email">Your Email</label>

            <!-- ERROR-->
            <?php if ($form->children['email']->children['first']->vars['errors']->valid()) : ?>
                <?php foreach ($form->children['email']->children['first']->vars['errors'] as $error) : ?>
                    <div class="error-form"><?= $error->getMessage(); ?></div>
                <?php endforeach; ?>
            <?php endif; ?>
            <!-- ERROR-->

            <input name="<?= $form->children['email']->children['first']->vars['full_name']; ?>"
                   value="<?= $form->children['email']->children['first']->vars['value']; ?>"
                   class="form-control"
                   placeholder="example.ur-email@some.com" />
        </div>

        <div class="form-group">
            <label for="email-repeat">Your Email Repeat</label>

            <!-- ERROR-->
            <?php if ($form->children['email']->children['second']->vars['errors']->valid()) : ?>
                <?php foreach ($form->children['email']->children['second']->vars['errors'] as $error) : ?>
                    <div class="error-form"><?= $error->getMessage(); ?></div>
                <?php endforeach; ?>
            <?php endif; ?>
            <!-- ERROR-->

            <input name="<?= $form->children['email']->children['second']->vars['full_name']; ?>"
                   value="<?= $form->children['email']->children['second']->vars['value']; ?>"
                   class="form-control"
                   placeholder="example.ur-email@some.com" />
        </div>

        <div class="form-group">
            <label for="comment">Your Comment</label>

            <?php if (!is_null($parentEntity)) : ?>
            <div class="replay-comment">
                <div>
                    <p>Reply Comment</p>
                </div>
                <div class="media-heading">
                    <span class="label label-info"><?= $parentEntity->getID(); ?></span><span class="label label-info green"><?= $parentEntity->getUserName(); ?></span>
                    terminator <?= $parentEntity->getTerminator(); ?> ago
                </div>
                <div class="panel-collapse collapse in" id="collapse6">
                    <div class="media-body">
                        <p><?= $parentEntity->getComment(); ?></p>
                    </div>
                </div>
            </div>
            <?php endif; ?>

            <!-- ERROR-->
            <?php if ($form->children['comment']->vars['errors']->valid()) : ?>
                <?php foreach ($form->children['comment']->vars['errors'] as $error) : ?>
                    <div class="error-form"><?= $error->getMessage(); ?></div>
                <?php endforeach; ?>
            <?php endif; ?>
            <!-- ERROR-->

            <textarea name="<?= $form->children['comment']->vars['full_name']; ?>"
                      class="form-control textarea-resize-deny"
                      rows="6" placeholder="Ur Comment"><?= $form->children['comment']->vars['value']; ?></textarea>
        </div>
        <button type="submit" class="btn btn-default">Send</button>
    </form>

    <?php if ($this->haveComments()) : ?>

        <div class="comments-nav">
            <ul class="nav nav-pills">
                <li role="presentation" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        there are <?= $countsComment; ?> comments <span class="caret"></span>
                    </a>
<!--                    <ul class="dropdown-menu">-->
<!--                        <li><a href="#">Best</a></li>-->
<!--                        <li><a href="#">Hot</a></li>-->
<!--                    </ul>-->
                </li>
            </ul>
        </div>

    <?php endif; ?>

    <?php if ($this->haveComments()) : ?>

        <div class="row">

            <?php
            /**
             * @var $comment \Comments\Models\CommentModel;
             */
            ?>
            <?php foreach ($this->getComments() as $comment) : ?>

                <?php $comment->render($form); ?>

            <?php endforeach; ?>

        </div>

    <?php endif; ?>

</div>