.post-comments {
    padding-bottom: 9px;
    margin: 5px 0 5px;
}

.comments-nav {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.post-comments .comment-meta {
    border-bottom: 1px solid #eee;
    margin-bottom: 5px;
}

.post-comments .media {
    border-left: 1px dotted #000;
    border-bottom: 1px dotted #000;
    margin-bottom: 5px;
    padding-left: 10px;
}

.post-comments .media-heading {
    font-size: 12px;
    color: grey;
}

.post-comments .comment-meta a {
    font-size: 12px;
    color: grey;
    font-weight: bolder;
    margin-right: 5px;
}

.green {
    margin-left: 2px;
    background-color: #5b85de;
}

.textarea-resize-deny {
    resize: vertical;
}

.error-form {
    color: red;
    margin-left: 12px;
    margin-bottom: 2px;
    font-size: 12px;
    overflow: hidden;
}

.replay-comment {
    border: 1px solid #5bc0de;
    padding: 7px;
    margin-bottom: 10px;
}